{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block title %}
{{ current_user.user }}
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
<!-- Page content -->
<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">User Profile</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Username</h6>
                            <p>
                                {{ current_user.user }}
                            </p>
                            <h6>Email</h6>
                            <p>
                                {{ current_user.email }}
                            </p>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="tab-pane" id="edit">
                    <form class="register-form" method="POST">
                        {{ form.hidden_tag() }}
                        {{ render_field(form.firstName) }}
                        {{ render_field(form.lastName) }}
                        {{ render_field(form.email) }}
                        {{ render_field(form.password) }}
                        {{ render_field(form.confirm) }}
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Cancel">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <div class="user-icon">
                <img src="{{ url_for('static', filename='images/temp_icon.jpg') }}"
                     class="mx-auto img-fluid img-circle d-block"
                     alt="avatar">
                <h6 class="mt-2">
                    {%  if current_user.first_name != None %}
                    {{ current_user.first_name }}
                    {%  endif %}
                    {%  if current_user.last_name != None %}
                    {{ current_user.last_name }}
                    {% endif %}
                </h6>
            </div>
        </div>
    </div>
</div><!-- /.container -->

{% endblock %}