{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block title %}
Capstone
{% endblock %}

{% block body_attr %}class="cover"{% endblock %}
{% block content %}
<section>
    <div class="container" style="position: absolute; bottom:10vh ;left:10vh">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5" style="color:white">Robo Advisor</h1>
                <p style="color:white">Robo Advisor aims to make investing easy. Work with us to build a portfolio
                    catered
                    to
                    YOUR
                    needs.
                    Tell use some simple things like how much you're willing to invest, answer some short questions,
                    and then let us build the investment portfolio or your dreams!
                </p>
                <a class="btn btn-light" href="{{ url_for('auth.register') }}" role="button">Sign Up Today</a> <a class="btn
                btn-dark" href="{{ url_for('auth.login') }}" role="button">Already a Member? Log In
                Now</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}

